/* THIS IS THE STYLING FOR aboutus.html */



body {
    max-width: 800px;
    margin: auto;
    background: linear-gradient(to bottom right, #3e81cc, white);


}
h1 {
    color: green;
    font: bold;
    text-align:center;
    font-size: 60px;
    font-family: 'Quicksand', sans-serif;

}

section h2 {
    color: orange;
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    margin-left: 36%;


}

h3 {
    color: orange;
    font-size: 1.5vw;
    font-family: 'Quicksand', sans-serif;
}

p {
    font-family: 'Quicksand', sans-serif;
    margin-left: 36%;
}

#content{
    width: 10px;
    height: 10px;
    margin-left: 300px;
    position: relative;
    float: left;
}

#contact-fields {
    height: 30%;
    width: 30%;
   
    
}


 .us{
    height: 100px;
    width: 200px;
    /* position: relative; */
    border: 5px solid navy;
    float: left;
    padding: 3%;
    }

.logo{
    height: 100px;
    width: 150px;
    float: left;
    /* position: relative; */
}



#nav {
    color: black;
    text-align: center;
    font-size: 24px;
    font-family: 'Crimson Text', serif;

    
    

}

.wagging {
    
    position: relative;
    float: right;
    margin-top: 31%;
    left: 15%;
    bottom: 120px;
    right: 60px;
    width: 200px;
    height: 100px;
    border: 3px solid navy;

}


