#grad1 {
    margin-top: 25px;
    background-color:white;

  }
body {
    max-width: 800px;
    margin: auto;
    background: linear-gradient(to bottom right, #3e81cc, white);

}

.navbar {
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    padding-left:20px;
    float: left;
    /* position: relative;
    top: 0px;
    left: -89px; */
    font-size: 16px;
}

.navbar a {
    margin-right: 15px;
    text-decoration: none;
    font-size:14px;
    color: black;
}

.navbar a:hover {
    color: rgb(255, 255, 255);
}
 
#pyplogo {
    width:225px;
    position: relative;
    top: -371px;
    left: 24px;
}

p {
    font-family: 'Nanum Pen Script', cursive;
}

#pupride {
 
    margin-bottom: 20px;
    width: 800px;
    float:right;
}


p {
    margin: 10px;
    font-family: 'Patrick Hand', cursive;
}



